<h1>@nawah/javascript Test App</h1>

<ul id="menu">
  <li><a href="#tab-init">Init</a></li>
  <li><a href="#tab-auth">Auth</a></li>
  <li><a href="#tab-call">Call</a></li>
</ul>
<div class="tab-folder">
  <div id="tab-auth" class="tab-content">
    <ul>
      <li>
        <button
          type="button"
          (click)="checkAuth()"
          [disabled]="nawah.connState == 'NOT_CONNECTED' || nawah.authState == 'AUTHED'"
        >
          checkAuth()
        </button>
      </li>
      <li>
        <label>Auth Var: </label>
        <input type="text" name="authVar" id="authVar" [(ngModel)]="authVar" />
      </li>
      <li>
        <label>Auth Val: </label>
        <input type="text" name="authVal" id="authVal" [(ngModel)]="authVal" />
      </li>
      <li>
        <label>password: </label>
        <input
          type="text"
          name="password"
          id="password"
          [(ngModel)]="password"
        />
      </li>
      <li>
        <button
          type="button"
          (click)="auth()"
          [disabled]="nawah.connState == 'NOT_CONNECTED' || nawah.authState == 'AUTHED'"
        >
          auth()
        </button>
      </li>
      <li>
        <button
          type="button"
          (click)="signout()"
          [disabled]="nawah.authState == 'NOT_AUTHED'"
        >
          signout()
        </button>
      </li>
    </ul>
  </div>
  <div id="tab-call" class="tab-content">
    <ul>
      <li>
        <label>Endpoint: </label>
        <input
          type="text"
          name="endpoint"
          id="endpoint"
          [(ngModel)]="callEndpoint"
        />
      </li>
      <li>
        <label>SID: </label>
        <input type="text" name="sid" id="sid" [(ngModel)]="callSid" />
      </li>
      <li>
        <label>Token: </label>
        <input type="text" name="token" id="token" [(ngModel)]="callToken" />
      </li>
      <li>
        <label>Query: </label>
        <input type="text" name="query" id="query" [(ngModel)]="callQuery" />
      </li>
      <li>
        <label>Doc: </label>
        <input type="text" name="doc" id="doc" [(ngModel)]="callDoc" />
      </li>
      <li>
        <label>Create File Endpoint: </label>
        <input
          type="text"
          name="create_file_endpoint"
          id="create_file_endpoint"
          [(ngModel)]="callCreateFileEndpoint"
        />
      </li>
      <li>
        <label>Doc File Attr: </label>
        <input
          type="text"
          name="doc_file_attr"
          id="doc_file_attr"
          [(ngModel)]="callDocFileAttr"
        />
      </li>
      <li>
        <label>Doc File: </label>
        <input #callDocFileInput type="file" name="doc_file" id="doc_file" />
      </li>
      <li><button type="button" (click)="call()">call()</button></li>
    </ul>
  </div>
  <div id="tab-init" class="tab-content">
    <ul>
      <li>
        <label>API URI: </label>
        <input type="text" name="api_uri" id="api_uri" [(ngModel)]="apiUri" />
      </li>
      <li>
        <label>Anon Token: </label>
        <input
          type="text"
          name="anon_token"
          id="anon_token"
          [(ngModel)]="anonToken"
        />
      </li>
      <li>
        <button type="button" (click)="init()">init()</button>
      </li>
    </ul>
  </div>
</div>

<ul>
  <ng-container *ngIf="nawahLog$ | async as nawahLog">
    <li *ngFor="let nawahLogEntry of nawahLog">
      {{ nawahLogEntry.datetime }}<br />
      <details>
        <summary>{{ nawahLogEntry.res.msg }}</summary>
        <pre>{{ nawahLogEntry.res | json }}</pre>
      </details>
    </li>
  </ng-container>
</ul>
